body { margin:0; padding:0; font-family: 'Montserrat', sans-serif; font-weight: 300; font-size: 16px; color: #000000; height: 100%; background-color: #FCFCFC;} 
html { margin:0; padding:0; height :100%; } 
a { color:#0072b9; text-decoration:none; }
a:hover { color:#044e7c; }



/*headings*/
h1 { font-family: 'Montserrat', sans-serif; 
    color:#23203E; 
    font-weight: 700; 
    font-size: 48px;
    text-align: left; 
    line-height: 50px;
    padding-top: 200px;
}

h2 { 
    font-family: 'Montserrat', sans-serif; 
    color:#23203E; 
    font-weight: 700; 
    font-size: 22px;
    text-align: left; 
    line-height: 52px;
    margin: 0px;
}

h3 {
    font-family: 'Montserrat', sans-serif; 
    color:#23203E; 
    font-weight: 800; 
    font-size: 46px;
    text-align: left; 
    line-height: 30px;
    margin: 0px;
    margin-bottom: 10px;
}

h4 {
    font-family: 'Montserrat', sans-serif; 
    color:#23203E; 
    font-weight: 500; 
    font-size: 17px;
    text-align: left; 
    line-height: 56px;
    margin: 0px;
    margin-bottom: 10px;
}

p {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 300; 
    font-size: 16px; 
    color: #000000; 
    height: 100%;
    line-height: 30px;

}


/*universal*/

button {
    background-color: #23203E; 
    border: none;
    border-radius: 22px;
    color: white;
    padding: 11px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    margin-top: 10px;
}

.center {
    max-width: 1024px;
    margin: auto;
}


nav {
    margin-top: 70px;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #23203E;
  text-align: center;
  padding-left: 80px;
  padding-top: 15px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #505050;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #23203E;
  font-weight: 800;
}





/*home page*/
.titleInformation {
    display: block;
    width: 100%;
    background-color: #FCFCFC;
    height: 500px;
}

.scrunchInformation{ 
    display: block;
    width: 100%;
    height: 750px; 
    background-color: #F6F6F6;

}

.sunbrellaInformation{
    display: block;
    width: 100%; 
    height: 100%; 

}

.portfolioInformation{
    display: block;
    width: 100%;
    height: 750px; 
    background-color: #F6F6F6;
}

.leftDetails {
    float: left;
    height: 100%;
 
}

.leftDetailsSun {
    float: left;
    height: 100%;

    margin-left: 19.5%;


}

.innerbox {
    margin-top: 230px;
    width: 350px;

   
    
}

.rightImages {
    height: 100%;

    
}

#scrunchGraphic {
    margin-top: 110px;
    margin-left: 120px;
}

#sunbrellaImages {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
}


